@media (min-width: 250px) {
    .header {
        &-navigation {
            flex-direction: column;
            height: auto;
        }
    }

    .count {
        &-number {
            padding: 28px 2px;
            font-size: 35px;
        }

        &-description {
            padding: 0 2px;
            font-size: 10px;
            text-align: center;
        }
    }
}